<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
</br>
  <%=  @users.inspect() %>
</br>
  <%=  @tweets.inspect() %>
</br>
<h2>Let's see..</h2>
<% if !@tweets.nil? %>
	<% @tweets.each do |t| %>
	 <%= User.find_by_parameter(:twitterID,t.userID).inspect %>
	</br>
	<% end %>
<% else %>
	<%=  @tree.dump() %>
<% end %>
